In [1]:
import numpy as np
import pandas as pd

In [2]:
trials = pd.read_csv('trials_01.csv')

In [3]:
print(trials)

   id treatment gender  response
0   1         A      F         5
1   2         A      M         3
2   3         B      F         8
3   4         B      M         9

In [5]:
trials['treatment']

0    A
1    A
2    B
3    B
Name: treatment, dtype: object

In [6]:
trials.pivot(index = 'treatment', columns = 'gender', values = 'response')

gender     F  M
treatment
A          5  3
B          8  9

In [7]:
print(trials.pivot(index = 'treatment', columns = 'gender', values = 'response'))

gender     F  M
treatment
A          5  3
B          8  9

In [10]:
tp = trials.pivot(index = 'treatment', columns = 'gender')
print(tp)

          id    response
gender     F  M        F  M
treatment
A          1  2        5  3
B          3  4        8  9

In [12]:
tp.index

Index(['A', 'B'], dtype='object', name='treatment')

In [14]:
more_trials = pd.read_csv('trials_03.csv')
print(more_trials)

   id treatment gender  response
0   1         A      F         5
1   2         A      M         3
2   3         A      M         8
3   4         A      F         9
4   5         B      F         1
5   6         B      M         8
6   7         B      F         4
7   8         B      F         6

In [15]:
more_trials.pivot(index = 'treatment', columns = 'gender', values = 'response')

ValueError: Index contains duplicate entries, cannot reshape

In [16]:
more_trials.pivot_table(index = 'treatment', columns = 'gender', values = 'response', aggfunc = 'sum')

gender      F   M
treatment
A          14  11
B          11   8

In [17]:
more_trials.pivot_table(index = 'treatment', columns = 'gender', values = 'response', aggfunc = 'mean')

gender            F    M
treatment
A          7.000000  5.5
B          3.666667  8.0

In [18]:
print(trials)

   id treatment gender  response
0   1         A      F         5
1   2         A      M         3
2   3         B      F         8
3   4         B      M         9

In [21]:
trials2 = trials.set_index(['gender'])
print(trials2)

        id treatment  response
gender
F        1         A         5
M        2         A         3
F        3         B         8
M        4         B         9

In [22]:
trials2.index

Index(['F', 'M', 'F', 'M'], dtype='object', name='gender')

In [26]:
trials2 = trials2.sort_index()
print(trials2)

        id treatment  response
gender
F        1         A         5
F        3         B         8
M        2         A         3
M        4         B         9

# dataframe indices are immutable

In [30]:
trials2.index[2]

'M'

In [32]:
trials2.index[2] = 'F'

TypeError: Index does not support mutable operations

In [36]:
trials3 = trials.set_index(['treatment', 'gender'])
print(trials3)

                  id  response
treatment gender
A         F        1         5
          M        2         3
B         F        3         8
          M        4         9

In [38]:
print(trials3.index)

MultiIndex(levels=[['A', 'B'], ['F', 'M']],
           labels=[[0, 0, 1, 1], [0, 1, 0, 1]],
           names=['treatment', 'gender'])

In [42]:
print(trials3.unstack(level = 'treatment'))

          id    response
treatment  A  B        A  B
gender
F          1  3        5  8
M          2  4        3  9

In [45]:
unstacked_trials = trials3.unstack(level = 'treatment')
print(unstacked_trials)

          id    response
treatment  A  B        A  B
gender
F          1  3        5  8
M          2  4        3  9

In [49]:
print(unstacked_trials.index)

Index(['F', 'M'], dtype='object', name='gender')

In [52]:
print(unstacked_trials.columns)

MultiIndex(levels=[['id', 'response'], ['A', 'B']],
           labels=[[0, 0, 1, 1], [0, 1, 0, 1]],
           names=[None, 'treatment'])

In [53]:
print(trials3)

                  id  response
treatment gender
A         F        1         5
          M        2         3
B         F        3         8
          M        4         9

In [56]:
trials3.index

MultiIndex(levels=[['A', 'B'], ['F', 'M']],
           labels=[[0, 0, 1, 1], [0, 1, 0, 1]],
           names=['treatment', 'gender'])

In [60]:
print(trials3.swaplevel().sort_index())

                  id  response
gender treatment
F      A           1         5
       B           3         8
M      A           2         3
       B           4         9

# test edit